.wrapper-container-forecast {
    background-color: #0F2330;

    height: 100%;
}

.forecast-form {
    width: 60%;
    margin-top: 30px;
}

.label-name {
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;

    font-size: large;
}

.submit-forecast {
    width: 30%;
    margin-top: 40px;
    background-color:  #123862 !important;
    border: none !important;
}

.submit-forecast:hover {
    background-color: #007bff !important;
    border: none !important;
}

.recommend {
    height: 100px;
    color: white;
    background-color: #123151;
    width: 60%;
    height: 400px;
    margin-top: 50px;
}

.custom {
	/* flex-basis: 100%;
	flex-grow: 0;
	flex-shrink: 0; */
    width: 90%
}

.custom-child {
    margin-top: 40px;
    margin-bottom: 40px;
}