DB_CONNECT = mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
SECRET_TOKEN = <your_jwt_secret>
PORT = 3001

ADAFRUIT_SERVER = io.adafruit.com
MQTT_PORT = 1883
CLIENT_ADDRESS = http://localhost:3000

ADAFRUIT_IO_USERNAME = <your_adafruit_username>
ADAFRUIT_IO_KEY = <your_adafruit_io_key>
