.wrapper-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url('../../assets/images/background_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.form {
    width: 30%;
    background-color: white;
    padding: 50px;
}

.my-btn {
    width: 100%;
    margin-bottom: 20px;
}

.my-alert {
    width: 30%;
}

