.background {
    /* background: url(./bg.png);
    background-size: cover;
    height: 100%; */
    background-color: #0F2330;
    height: 100%;
    color: white;
}

.control-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: 0px 300px 50px 300px;
    padding: 10px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}

.info-box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    color: white;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
}